version: "3.9"
services:
 postgres:
   image: postgres:15
   environment:
     POSTGRES_USER: demo
     POSTGRES_PASSWORD: demo
     POSTGRES_DB: demo_db
   ports:
     - "5432:5432"
   volumes:
     - postgres_data:/var/lib/postgresql/data

volumes:
 postgres_data:
